.App {
  text-align: center;
  background-color: #4ABDAC;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FC4A1A;
}

.App-list {
  max-height: 400px;
  overflow-y: scroll;
}